body, html
{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/*body {
  background-image: url("http://localhost:3000/image/MainContainer.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d9d9cc;
}*/

.main {
  padding: 20px;
  margin-top: 50px;
}

.brown {
  color: #ffffff;
}

.background {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  background-image: url("http://localhost:3000/image/beWellBackground.jpg") !important;
  background-size: cover !important;
}

.mainbackground {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  background-image: url("http://localhost:3000/image/background.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.login-style {
  margin-top: 10%;
  margin-bottom: 0;
  margin-right: 25%;
  float: right;
  padding: 15px;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  z-index: -1;
}

.wellPalContainer {
  background-image: url("http://localhost:3000/image/WellPalCircle.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 560px;
  min-height: 560px;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.horizontal.divider {
  padding-top: 5%;
  padding-bottom: 5%;
}

.charts {
  max-height: 300px;
}

#my-red {
  color: #de7885;
}

#my-button {
  background: #ffffff;
  border: 2px solid black;
  color: #2d3436;
}